@rendermode InteractiveServer
@page "/loans"
@using Library.Core.Models.Items
@using Library.Web.Services
@inject LibraryService LibraryService

<PageTitle>Library Loans</PageTitle>

<div class="d-flex justify-content-between align-items-end mb-4">
  <h2 class="fw-light text-white m-0">Loans</h2>
</div>